aiogram==3.22.0
aiohttp>=3.9.0,<3.13
asyncpg==0.30.0
python-dotenv==1.1.1
gspread==6.2.1
google-api-python-client==2.177.0
xlsxwriter==3.2.9
httpx==0.28.1
APScheduler==3.11.2
certifi==2025.8.3
websockets==16.0
requests==2.33.0
beautifulsoup4==4.13.5
Pillow==12.2.0
ijson==3.4.0.post0
